.conteiner {
    margin: auto;
    padding: auto;
    position: relative;
}

.conteiner img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 5px solid;
}

.conteiner2 img {
    top: 2%;
    right: 1%;
    position: absolute;
    border-radius: 10px;
}

.baixoEsquerda {
    font-style: italic;
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: black;
    
}

.centroEsquerda {
    font-style: italic;
    position: absolute;
    top:10%;
    left:0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: black;
}

.topoEsquerda {
    font-style: italic;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: black;
}